<p style="color: green"><%= notice %></p>
<h1>Offers</h1>

<div id="offers">
  <% @offers.each do |offer| %>
    <%= render offer %>
    <p><%= link_to "Show this offer", offer %></p>
    <%= form_with(model: offer, url: offers_path, method: 'post') do |form| %>
      <%#= form.hidden_field @post.offer_id, value: offer.id %>
      <%# @post.offer_id = offer.id %>
      <%= form.hidden_field :id, value: offer.id %>
      <div>
        <%= form.submit "Postula" %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New offer", new_offer_path %>
