<!DOCTYPE html>
<html>
  <head>
    <title>OfertasLaborales</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%#= favicon_link_tag asset_path('icons8-gato-100.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= yield %>
  </body>
</html>
